{#
/**
 * @file
 * Theme for organization entity.
 *
 */
#}

{%
  set classes = [
  'agenda-item',
  view_mode ? 'agenda-item--view-mode-' ~ view_mode|clean_class,
]
%}

  <article{{ attributes.addClass(classes) }}>
    <div class="agenda-item-header__container container">
      <div{{ content_attributes.addClass('agenda-item__header') }}>
        <h1{{ title_attributes.addClass('agenda-item__title') }}>
          {{ entity.subject.value }}
        </h1>
        <span class="agenda-item__divider"></span>
        {% if entity.file_url.value|render %}
          <div class="oagenda-item__category">
            <p>Tiedoston url:  {{ entity.file_url.value }}</p>
          </div>
        {% endif %}
        <span class="agenda-item__divider"></span>
        {% if entity.classification_code.value|render %}
          <div class="agenda-item__category">
            <p>Luokittelu koodi:  {{ entity.classification_code.value }}</p>
          </div>
        {% endif %}
      </div>
    </div>

  </article>
