{#
/**
 * @file
 * Theme for organization entity.
 *
 */
#}

{%
  set classes = [
  'organization',
  view_mode ? 'organization--view-mode-' ~ view_mode|clean_class,
]
%}

  <article{{ attributes.addClass(classes) }}>
    <div class="organization-header__container container">
      <div{{ content_attributes.addClass('organization__header') }}>
        <h1{{ title_attributes.addClass('organization__title') }}>
          {{ entity.organization_name_fi.value }}
        </h1>
        <span class="organization__divider"></span>
        {% if entity.department.value|render %}
          <div class="organization__category">
            <p>Nimi ruotsiksi:  {{ entity.organization_name_fi.value }}</p>
          </div>
        {% endif %}
        <span class="organization__divider"></span>
        {% if entity.organization_type.value|render %}
          <div class="organization__category">
            <p>Organisaatio tyyppi:  {{ entity.organization_type.value }}</p>
          </div>
        {% endif %}
      </div>
    </div>

  </article>
