{#
/**
 * @file
 * Theme for issue entity.
 *
 */
#}

{%
  set classes = [
  'issue',
  view_mode ? 'issue--view-mode-' ~ view_mode|clean_class,
]
%}

  <article{{ attributes.addClass(classes) }}>
    <div class="issue-header__container container">
      <div{{ content_attributes.addClass('issue__header') }}>
        <h1{{ title_attributes.addClass('issue__title') }}>
          {{ entity.label }}
        </h1>
        <span class="issue__divider"></span>
        {% if entity.category.value|render %}
          <div class="issue__category">
          <p>Kategoria:  {{ entity.category.value }}</p>
          </div>
        {% endif %}
        <span class="issue__divider"></span>
        {% if entity.summary.value|render %}
          <div class="issue__summary">
            <p>Kuvaus:{{ entity.summary.value }}</p>
          </div>
        {% endif %}
      </div>
    </div>

  </article>
